

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #88B8CD;
}

header{
    position: relative;
    height: 105px;
    width: 100%;

    display: flex;
    top: 0px;
    justify-content: center;
    align-items: center;
    background-color: white;

}
/* Стиль контейнера входа */
.login-container {
    position: relative;
    left: 750px;
    top: 250px;
    width: 300px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

/* Стиль формы и элементов формы */
.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    font-weight: bold;
    margin-top: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.login-container button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #88B8CD;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

a{


    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    color: black;
    width: 500px;
}

h2{
    color: black;
}

label{
    color: black;
}

.h-patient{
    top: 20px;
    display: flex;
    position: relative;
    left: 150px;
    width: 300px;
    height: 70px;
    font-size: 40px;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.h-doctor{
    display: flex;
    position: relative;
    left: 150px;
    width: 300px;
    height: 70px;
    font-size: 40px;
    border:5px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.h-notes{
    display: flex;
    position: relative;
    left: 150px;
    width: 300px;
    height: 70px;
    font-size: 40px;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.a-patient{
    position: relative;
    left: 200px;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    width: 500px;
}
.a-doctor{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    left: 200px;
    width: 500px;
}
.a-notes{
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    left: 200px;
    width: 500px;
}
img{
    position: relative;
    right: 430px;
    width: 50px;
    height: 50px;

}
.welcome{
    font-size: 32px;
}

.add-patient-container form{

    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
}

.add-patient-container{
    height: 675px;
    position: relative;
    left: 750px;
    top: 75px;
    width: 300px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


.add-patient-container label{
    width: 300px;
    color: black;
    font-weight: bold;
    margin-top: 10px;

}
.add-patient-container button{
    width: 300px;
    background-color: #88B8CD;
}


.add-patient-container input[type="date"],
.add-patient-container input[type="text"]{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
}
.add-patient-container button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #88B8CD;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}






.add-doctor-container form{

    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
}

.add-doctor-container{
    height: 600px;
    position: relative;
    left: 750px;
    top: 75px;
    width: 300px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


.add-doctor-container label{
    width: 300px;
    color: black;
    font-weight: bold;
    margin-top: 10px;

}
.add-doctor-container button{
    width: 300px;
    background-color: #88B8CD;
}

.add-doctor-container input[type="password"],
.add-doctor-container input[type="text"]{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
}
.add-doctor-container button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #88B8CD;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}


.add-user-container input[type="password"],
.add-user-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.add-user-container button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #88B8CD;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.add-user-container form{

    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
}


.add-user-container{
    height: 270px;
    position: relative;
    left: 750px;
    top: 75px;
    width: 300px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


.add-user-container label{
    width: 300px;
    color: black;
    font-weight: bold;
    margin-top: 10px;

}